<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action = "/pokemon/<%=id%>?_method=PUT" method = "POST">
        <h3>Name: <input type ="text" name = "name" value = "<%=pokemon.name%>"></h3>
        <h5>New Image: <input type = "text" name = "img" value ="<%=pokemon.img%>"></h5>
        <button type = "submit">Edit Your Pokemon</button>
     </form>
</body>
</html>